
//file base archive
* {
  box-sizing: border-box;
}
body{
    
    margin: 0;
    padding: 15px;
    font-family: $font-san-serif;
    border: 1px;
}
h1{
    font-family: $font-alternative;
    font-size: $font-sm;
}
.special-tittle{
    font-family: $font-alternative;
}